.content__inner {
    max-width: 1230px;
    min-height: 80vh;
    margin: 76px auto 62px;
    text-align: center;
}

/* 日付送り */
.date {
    padding: 10px;
    margin-bottom: 20px;
  }

  .date__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date__link {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    margin: 0 10px;
    padding: 0px 8px;
    border: 1.5px solid #007bff;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }

  .date__link:hover {
    background-color: #e9ecef;
    border-color: #0056b3;
  }

  .form__heading {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }

  .export__btn {
    background-color: #007bff; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: auto;
}

.export__btn:hover {
    background-color: #82b6e9;
}

.attendance__table {
    margin: 45px 0 16px;
    border-top: 1px solid #aeaeae;
    border-collapse: collapse;
    width: 100%;
}
.table__header,
.table__row {
    border-top: 1px solid #989898;
}

.table__header th,
.table__row td{
    padding: 24px;
}

.table__row td {
    padding: 24px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.table__row a {
    display: inline-block;
    padding: 4px 8px;
    background-color: #2e93ff;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    width: 120px;
}

.table__row a:hover {
    background-color: #82b6e9;
    border-color: #82b6e9;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    list-style: none;
    margin-right: 5px;
}

.pagination .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: .375rem .75rem;
    text-decoration: none;
}

.pagination .page-link:hover {
    z-index: 2;
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}