html,
body {
  /*height: 100%;*/
}


.app {
  height: 100%;
}

/* ヘッダー */
.header {
  margin: 0 auto;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  height: 90px;
  text-align: center;
}

.header__heading {
  font-weight: bold;
  font-size: 32px;
  padding: 34px 0 24px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.header-nav__item {
  width: 100px;
  list-style-type: none;
}

.header-nav__item a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-nav__button-submit {
  font-weight: bold;
}

.header-nav__link:hover {
  color: #757777;
}

.header-nav__button-submit:hover {
  color: #757777;
}

/* コンテンツ */
.content {
  justify-content: center;
  background-color: #F2F2F2;
  width: 100%;
}

.content.submitting {
  background-color: #007BFF;
}

.form__heading {
  text-align: center;
  font-size: 24px;
}

/* ログイン・新規会員認証フォーム */
.auth-form__group {
  width: 100%;
  border: solid 1px #989898;
  border-radius: 3px;
  margin-top: 16px;
}
.auth-form__remember {
  margin-top: 16px;
}

.auth-form__group input {
  width: 100%;
  border: none;
  padding: 13px 0 13px 15px;
}

.auth-form__group input::placeholder {
  color: #CFCFCF;
}

.auth-error {
  color: red;
  text-align: left;
  padding-left: 15px;
}

/* ログイン・新規会員ボタン */
.auth-form__group__button {
  background-color: #007BFF;
  width: 100%;
  border: none;
  color: #FFF;
}
.auth-form__group__button ::placeholder {
  color: #FFF;
}

/* 確認フォーム */
.confirm-form p {
  color: #989898;
}
.confirm-form a {
  text-decoration: none;
}

/* フッター */
.footer {
  align-items: center;
  padding: 16px 0;
  text-align: center;
  font-weight: bold;
}
